<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
    />

    <style>
        body {
            background-color: #F2F2F2;
        }
        #frmDatVe {
            background-color: rgb(64, 176, 112);
        }
        .product-div {
            /*max-height: 266px;*/
        }
        .notice-div {
            border-top: 2px solid;
        }
        .noticeList {
            max-width: 375px;
            width: 375px;
            position: absolute;
            top: 52px;
            left: 16px;
            z-index: 999;
            display: none;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
            background-color: antiquewhite;
        }
        .notice-list-child {
            border-radius: 10px;
            padding: 10px;
        }
        /*.icon-notice {*/
        /*    background-color: #007AFF;*/
        /*    padding: 5px;*/
        /*    color: white;*/
        /*    border-radius: 3px;*/
        /*    display: flex;*/
        /*    justify-content: space-around;*/
        /*}*/
        #curP {
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            margin: 10px 30px;
            padding: 3px 20px;
            background-color: lightgreen;
        }
        #nextP, #preP {
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
        }
        .frmDatVe-modal {
            display: none;
            background-color: rgb(40,42,53, 0.6);
            width: 1800px;
            height: 800px;
            position: fixed;
            top: 0px;
            left: 0px;
            z-index: 999;
        }
        .frmDatVe {
            /*display: none;*/
        }
        .search-key {
            /*border-radius: 40px;*/
            /*margin-left: 20px;*/
            /*width: 84%;*/
        }
        .ten-nha-xe {
            font-weight: 500;
            color: green;
        }
        #all-notice {
            overflow-y: hidden;
        }
        #all-notice:hover {
            overflow-y: auto;
        }
    </style>
    <title>Đặt xe ghép</title>
</head>
<body>
<div class="header">
<!--     <div class="left-menu">
       <a th:href="@{/}"><img th:src="@{/img/logo2.png}" alt=""></a>
    </div>
    <ul class="right-menu">
        <li class="main-menu"><a class="main-menu-a" th:href="@{/}">Trang chủ</a></li>
        <li class="main-menu"><a class="main-menu-a" href="">Gửi hàng</a></li>
        <li class="main-menu">
            <a class="main-menu-a" href="">Thuê xe</a>
            <ul class="sub-main-menu">
                <li>Hợp đồng du lịch</li>
                <li>Thuê xe tự lái</li>
            </ul>
        </li>
        <li class="main-menu"><a class="main-menu-a" href="">Giới thiệu</a></li>
        <li class="main-menu">
            <a class="main-menu-a" href="">Tin tức</a>
            <ul class="sub-main-menu">
                <li>Thông báo nghỉ tết</li>
                <li>Thông báo bảo trì 30/12</li>
            </ul>
        </li>
        <li class="main-menu" id="me" th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''SELLER'') or hasRole(''USER'')')}">
            <a class="main-menu-a" href="" >Tôi</a>
            <ul class="sub-main-menu sub-main-menu-toi">
                <li><a th:href="@{/profile}">Tài khoản</a></li>
                <div id="management" class="some-element"
                     th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''SELLER'')')}">
                    <li><a th:href="@{/management}">Quản lý sản phẩm</a></li>
                </div>
                <li th:if="${#authorization.expression('hasRole(''USER'')')}"><a th:href="@{/my-order}" >Quản lý đơn hàng</a></li>

                <li id="logoutButton"> <a href="">Đăng xuất</a> </li>
            </ul>
        </li>

        <li class="main-menu" id="login" th:unless="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''USER'') or hasRole(''SELLER'')')}">
            <a class="main-menu-a" th:href="@{/login}">Đăng nhập</a>
        </li>
    </ul>
    -->
</div> 

<div class="row" >
    <div  class="col-lg-3"
          style="width: 20%; margin: 24px;"
    >
        <div class="row" style="background-color: #fff; border-radius: 10px">
            <h2 class="">Nhà xe hợp tác</h2>
            <div id="nha-xe" style="max-height: 3300px; overflow-y: auto; border-radius: 10px;">
                <!--        Danh sách nhà xe... -->
            </div>
        </div>
    </div>

    <div class="container1 col-lg-6"
         style="padding: 0; margin: 30px; width: 50%;"
    >
        <form th:action="@{/search-by-stop}" th:object="${searchByKeywordRq}" method="get"
              class="searchFrm" >

            <input type="text" class="search-key form-control" th:field="*{keyword}"
                   placeholder="Tìm kiếm" style="border-radius: 40px; width: 87%;"/>

            <button type="submit" class="btn btn-primary"  style="margin-left: 12px; height: 50px;">Tìm kiếm</button>

        </form>

        <div class="search-form">

            <div class="search-input">

                <form th:action="@{/search-by-stop}" th:object="${searchForm}" method="get"
                      class="searchFrm" >
                    <div class="input-box">
                        <img class="search-form-icon" th:src="@{./img/clock-regular.svg}" alt="">
                        <div class="input-and-label">
                            <p class="input-box-label">Điểm đón</p>
                            <input type="text" class="form-control" th:field="*{startAddress}" placeholder="Nhập điểm đón"/>
                        </div>
                    </div>
                    <div class="input-box">
                        <img class="search-form-icon" th:src="@{./img/location.png}" alt="">
                        <div class="input-and-label">
                            <p class="input-box-label">Điểm trả</p>
                            <input type="text" class="form-control" th:field="*{endAddress}" placeholder="Nhập điểm trả"/>
                        </div>
                    </div>
                    <div class="input-box">
                        <img class="search-form-icon" th:src="@{./img/clock.png}" alt="">
                        <div class="input-and-label">
                            <p class="input-box-label" >Giờ đi</p>
                            <input type="time" class="form-control" th:field="*{startTime1}" placeholder="HH:mm:ss" />
                        </div>
                    </div>

                    <div class="search-button">
                        <button type="submit">Tìm kiếm</button>
                    </div>

                </form>

            </div>

        </div>

        <div class="right-body">
            <h2 style="">Kết quả tìm kiếm</h2>
            <div id="productList">
                <!-- Placeholder for product list -->
            </div>

            <div id="pagination" style="text-align: center;">
                <!--                    Phân trang tại đây...-->
            </div>

        </div>

    </div>

    <!--        Thông báo-->
    <div class="col-lg-3"
         style="width: 20%; margin: 24px;  right: 0">
        <div class="row" style="background-color: #fff; border-radius: 10px">
            <h2>Thông báo</h2>
            <div id="all-notice" style="max-height: 3300px">
                <!--            Danh sách thông báo...-->
            </div>
        </div>

    </div>
</div>

<!-- footer -->
<footer>
    <div class="footer">Copyright 2023 by Vi Trung Kiên - B19DCVT195</div>
</footer>

<!--Logout click-->
<script>
    // Gán sự kiện click cho thẻ button
    document.getElementById('logoutButton').addEventListener('click', function () {
        // Gửi yêu cầu POST đến endpoint /logout khi người dùng nhấn vào nút đăng xuất
        fetch('/logout', {
            method: 'POST',
            credentials: 'same-origin' // Đảm bảo gửi cookie (nếu có) kèm theo yêu cầu
        })
            .then(response => {
                if (response.ok) {
                    // Nếu đăng xuất thành công, bạn có thể thực hiện các bước cần thiết
                    window.location.href = '/'; // Chuyển hướng đến trang đăng nhập, ví dụ '/login'
                } else {
                    console.error('Logout failed:', response.status);
                }
            })
            .catch(error => console.error('Error during logout:', error));
    });
</script>

<!--Handle render Ui for Guest-->
<script>
    // Kiểm tra xem có cookie có tên "Authorization" hay không
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Lấy giá trị của cookie "Authorization"
    const authToken = getCookie('Authorization');

    // Lấy phần tử cần ẩn
    const meElement = document.getElementById('me');
    const loginElement = document.getElementById('login');

    // Kiểm tra và ẩn phần tử nếu không có cookie "Authorization"
    if (!authToken) {
        meElement.style.display = 'none'; // Ẩn phần tử
        loginElement.style.display = 'block'

    }
</script>


<!--Lấy ra tất cả sản phẩm    -->
<script th:inline="javascript">

    var products = []; // Khai báo mảng products ở đây
    var pageSize = 10; // Số sản phẩm trên mỗi trang
    var currentPage = 0;
    // Gọi API để lấy danh sách sản phẩm khi trang web được tải

    /*<![CDATA[*/
    products = /*[[${products}]]*/ [];
    /*]]>*/
    console.log("Lay san pham");
    // console.log(products);
    displayProducts(currentPage);

    //Hiển thị giá trị nếu khác null
    function displayValue(value) {
        return (value !== null && value !== undefined) ? value : 'null';
    }

    //Hiển thị 10 sản phẩm thỏa mãn kết quả
    function displayProducts(page) {
        if (products.length > 0) {
            console.log("co value");
            // Tính toán vị trí bắt đầu và kết thúc của danh sách sản phẩm trên trang
            var start = page * pageSize;
            var end = Math.min((page + 1) * pageSize, products.length);

            // Hiển thị sản phẩm trên trang hiện tại
            var productListDiv = document.getElementById('productList');
            productListDiv.innerHTML = ''; // Xóa nội dung cũ

            for (var i = start; i < end; i++) {
                var productDiv = document.createElement('div');
                productDiv.classList.add('product-div');

                const timeDifferenceString = calculateTimeDifference(products[i].startTime, products[i].endTime);
                const formattedStartTime = moment(products[i].startTime, "HH:mm:ss").format('HH:mm');
                const formattedEndTime = moment(products[i].endTime, "HH:mm:ss").format('HH:mm');
                productDiv.innerHTML =
                    `<div class="ve-xe" id="productId${products[i].productID}">
        <div>

        <h6 id="n-hover${products[i].productID}" onclick="showNoticeList(${products[i].productID})"
         class="icon-notice"
         >Thông báo<i class="fa-solid fa-bell" style="color: #fff"></i></h6>


<!--            <img id="anh-xe" src="/img/Picture1.png" alt="Anh xe" />-->
            <img id="anh-xe" src="${products[i].productImage}" alt="Anh xe" />
        </div>

      <div class="info-ve">
        <div class="info-ve-p1">
          <div class="ten-nha-xe-rate">
            <p class="ten-nha-xe">${products[i].storeName}</p>
<!--            <i class="fa-solid fa-star" style="color: #ffd500"></i>-->
<!--            <i class="fa-solid fa-star" style="color: #ffd500"></i>-->
<!--            <i class="fa-solid fa-star" style="color: #ffd500"></i>-->
<!--            <i class="fa-solid fa-star" style="color: #ffd500"></i>-->
<!--            <i class="fa-solid fa-star" style="color: #ffd500"></i>-->
          </div>
          <p class="price">${products[i].price}đ</p>
        </div>
        <p class="productName" style="font-weight: bold">Tuyến: ${products[i].productName}</p>
        <p class="car-type">${products[i].type}</p>
        <div class="info-ve-p2">
          <div class="info-ve-p2-1">
            <div class="info-p2-1-1">
              <img class="start-icon" src="/img/clock-regular.svg" alt="" />
              <p class="info-time">${formattedStartTime}</p>
              <p>- ${products[i].startAddress}</p>
            </div>

            <div class="info-p2-1-1">
              <img class="dot-dot" src="/img/dot.png" alt="" />
              <p class="info-time" id="info-take-time">${timeDifferenceString}</p>
            </div>
            <div class="info-p2-1-1">
              <img class="start-icon" src="/img/location.png" alt="" />
              <p class="info-time">${formattedEndTime}</p>
              <p>- ${products[i].endAddress}</p>
            </div>
          </div>
          <div class="info-ve-p2-2">
            <p id="blank">Còn ${products[i].remainSeat} chỗ trống</p>
            <p class="contact">Liên hệ: ${products[i].phoneNumber}${products[i].phoneNumber2 ? ` - ${products[i].phoneNumber2}` : ''}</p>
            <div>
              <p id="info-button" class="info-button" onclick="showProductDetail(${products[i].productID})">
                Thông tin chi tiết
                <i
                  style="transform: rotate(0deg)"
                  id="arrow-icon${products[i].productID}"
                  class="fa-solid fa-caret-down"
                ></i>
              </p>
              <!-- <p>Thông tin chi tiết</p> -->
              <button onclick="showOrderForm(${products[i].productID})">Đặt xe</button>
            </div>
          </div>
        </div>
      </div>
      <p class="type-pay">KHÔNG CẦN THANH TOÁN TRƯỚC</p>
        <div id="noticeList${products[i].productID}" class="noticeList">
               <h5 style="margin: 10px; text-align: center">Thông báo</h5>
        </div>
      <div id="productDetail${products[i].productID}" class="detail" style="display: none">
        <div class="detail-info">
          <ul class="list-info">
            <li>
                <button class="menu-detail${products[i].productID} detail-img-b" id="detail-img-b${products[i].productID}"
                onclick="showPartDetail(${products[i].productID}, 1)">
                  Hình ảnh
                </button>

            </li>
            <li>
              <button class="menu-detail${products[i].productID} tien-ich-b" id="tien-ich-b${products[i].productID}"
              onclick="showPartDetail(${products[i].productID}, 2)">
                Tiện ích
              </button>
            </li>
            <li>
              <button class="menu-detail${products[i].productID} diem-don-tra-b" id="diem-don-tra-b${products[i].productID}"
              onclick="showPartDetail(${products[i].productID}, 3)">
                Điểm đón trả
              </button>
            </li>
            <li>
              <button class="menu-detail${products[i].productID} chinh-sach-b" id="chinh-sach-b${products[i].productID}"
              onclick="showPartDetail(${products[i].productID}, 4)"> Chính sách </button>
            </li>
            <li>
              <button class="menu-detail${products[i].productID} review-b" id="review-b${products[i].productID}"
              onclick="showPartDetail(${products[i].productID}, 5)"> Thông tin </button>
            </li>
          </ul>
        </div>

        <div class="five-info" id="five-info">
          <!--Hinh anh-->
          <div class="part-detail${products[i].productID} detai-img" id="detai-img${products[i].productID}">
            <img class="main-detail-img" src="https://static.vexere.com/production/images/1691571338555.jpeg" alt="" />
            <img class="main-detail-img" src="https://static.vexere.com/production/images/1691571338859.jpeg" alt="" />
            <img class="main-detail-img" src="https://static.vexere.com/production/images/1691571339090.jpeg" alt="" />
            <img class="main-detail-img" src="https://static.vexere.com/production/images/1692701522841.jpeg" alt="" />
            <div class="sub-img">

            </div>
          </div>
          <!--Diem don tra-->
          <div class="part-detail${products[i].productID} diem-don-tra" id="diem-don-tra${products[i].productID}">
            <div class="luu-y">
              <h3>Lưu ý</h3>
              <p>
                Các mốc thời gian đón trả bên dưới là thời gian dự kiến. <br />
                Lịch này có thể thay đổi tùy tình hình thực tế
              </p>
            </div>

            <div id="stopList${products[i].productID}">

            </div>
          </div>
          <!--Tien ich-->
          <div class="part-detail${products[i].productID} tien-ich" id="tien-ich${products[i].productID}">
            <ul class="list-tien-ich">
            <h3>Tiện ích</h3>
            ${products[i].tienIch}
            </ul>
          </div>
          <!--Chinh sach -->
          <div class="part-detail${products[i].productID} chinh-sach" id="chinh-sach${products[i].productID}">
<!--            <h3>Chính sách nhà xe</h3>-->
            ${products[i].policy}
          </div>
          <!--Review-->
          <div class="part-detail${products[i].productID} review" id="review${products[i].productID}">
<!--          <h3>Mô tả</h3>-->
             ${products[i].description}
          </div>
        </div>
      </div>
    </div>
</div>
<div id="frmDatVe${products[i].productID}" class="frmDatVe-modal">
    <form class="frmDatVe p-4 rounded-1 m-auto"
            action="/api/v1/user/${products[i].productID}/order"
            method="post"
            object="orderRequest">
      <h3 class="text-center">Đặt vé</h3>

      <div class="row d-flex">
        <p class="col-sm-3">Tên vé:</p>
        <div class="col-sm-9">
          <p class="">${products[i].productName}</p>
        </div>
      </div>

      <div class="row d-flex">
        <p class="col-sm-3">Nhà Xe:</p>
        <div class="col-sm-9">
          <p class="">${products[i].storeName}</p>
        </div>
      </div>

      <div class="row mb-3 d-flex">
        <p class="col-sm-3">Giá vé:</p>
        <div class="col-sm-9">
          <p class="">${products[i].price}đ</p>
        </div>
      </div>

      <div class="row mb-3">
        <label for="pickUpAddress" class="col-sm-3 col-form-label">Điểm đón:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="pickUpAddress" name="pickUpAddress"
          placeholder="Điểm đón" required autofocus="autofocus"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="destinationAddress" class="col-sm-3 col-form-label">Điểm đến:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="destinationAddress" name="destinationAddress"
          placeholder="Điểm đến" required autofocus="autofocus"
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="pickTime" class="col-sm-3 col-form-label">Thời gian đón:</label>
        <div class="col-sm-9">
          <input type="datetime-local" class="form-control" id="pickTime" name="pickTime"
          required autofocus="autofocus"
          />
<!--          <input type="datetime-local" class="form-control" id="pickTime" name="pickTime"-->
<!--       pattern="yyyy-MM-ddThh:mm" required autofocus="autofocus" />-->

        </div>
      </div>

      <div class="row mb-3">
        <label for="message" class="col-sm-3 col-form-label">Lời nhắn:</label>
        <div class="col-sm-9">
          <textarea class="form-control" id="message" name="message" rows="3" ></textarea>
        </div>
      </div>

      <div class="row mb-3">
        <label for="phoneNumber" class="col-sm-3 col-form-label">
            Số điện thoại:
        </label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="phoneNumber" name="phoneNumber"
          placeholder="Số điện thoại" required autofocus="autofocus"

          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="quantity" class="col-sm-3 col-form-label">Số lượng vé:</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="quantity" name="quantity"
          placeholder="Số lượng vé" required autofocus="autofocus"
          />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-6 offset-sm-3">
          <button type="submit" class="btn btn-primary">Đặt vé</button>
          <button type="button" class="btn btn-danger" onclick="dismissForm(${products[i].productID})">
            Hủy
          </button>
        </div>
      </div>
    </form>
</div>
`;

                productListDiv.appendChild(productDiv);

                const stopListDiv = document.getElementById(`stopList${products[i].productID}`);
                if (products[i].stopList && products[i].stopList.length > 0) {
                    const ul = document.createElement('ul');
                    products[i].stopList.forEach(function (stop) {
                        const li = document.createElement('li');
                        const formattedStopTime = moment(stop.stopTime, "HH:mm:ss").format('HH:mm');
                        li.innerHTML =
                            displayValue(formattedStopTime) +
                            ' - ' + displayValue(stop.stopAddress) + (displayValue(stop.rightNow) ? ' - Vị trí hiện tại' : '') ;
                        if (displayValue(stop.rightNow) == true) {
                            li.style.color = 'red';
                        }
                        ul.appendChild(li);
                    });
                    stopListDiv.appendChild(ul);
                }

                const noticeListDiv = document.getElementById(`noticeList${products[i].productID}`);

                if (products[i].noticeList && products[i].noticeList.length > 0) {

                    const noticeListChild = document.createElement('div');
                    noticeListChild.classList.add('notice-list-child');
                    // Lấy 3 notice cuối cùng
                    const lastThreeNotices = products[i].noticeList.slice(-3);

                    lastThreeNotices.forEach(function (notice) {
                        const noticeDiv = document.createElement('div');
                        noticeDiv.classList.add('notice-div');
                        var status = notice['expired'] ? 'Hết hiệu lực' : 'Còn hiệu lực';
                        const formattedLastUpdate = moment(notice['lastUpdate']).format('HH:mm DD/MM/YYYY');
                        noticeDiv.innerHTML = `
                      <h6 style="color: green">${notice.storeName}</h6>
                      <h6 style="color: red">Thông báo: ${notice.title}</h6>
                      <p>${notice.content}</p>
                      <p>${notice.expired ? 'Hết hiệu lực' : 'Còn hiệu lực'}</p>
                      <p>Sửa đổi lần cuối: ${formattedLastUpdate}</p>


                                    `;
                        noticeListChild.appendChild(noticeDiv);
                    });
                    noticeListDiv.appendChild(noticeListChild);
                }
                else {
                    const nullNotice = document.createElement('p');
                    nullNotice.style.marginLeft = '20px';
                    nullNotice.textContent = 'Không có thông báo nào gần đây';
                    noticeListDiv.appendChild(nullNotice);
                }

                console.log("Hien thi san pham");


            }
        }
        else {
            var productListDiv = document.getElementById('productList');
            var div = document.createElement('p');
            div.innerHTML =
                `<p>Xin lỗi về sự bất tiện này. Hiện chưa có chuyến
            xe nào phù hợp với từ khóa bạn tìm kiếm. Vui lòng thử lại với từ khóa khác hoặc tìm kiếm chuyến xe khác</p>`;
            productListDiv.appendChild(div);
            console.log("no value");
        }
    }
    if (products.length > 10) {
        displayPagination();
        console.log("Da chuyen trang");
    }
    //Phân trang nếu sản phẩm > 10
    function displayPagination() {
        // Tính toán tổng số trang
        var totalPages = Math.ceil(products.length / pageSize);

        // Hiển thị liên kết phân trang
        var paginationContainer = document.getElementById('pagination');
        paginationContainer.innerHTML = '';

        // Hiển thị nút trở về trang trước
        var prevPageLink = document.createElement('a');
        prevPageLink.href = '#';
        prevPageLink.id = 'preP';
        prevPageLink.textContent = '< Trang trước ';
        prevPageLink.onclick = function ( event) {
            if (currentPage > 0) {
                changePage(currentPage - 1,  event);
            }
        };
        paginationContainer.appendChild(prevPageLink);

        // Hiển thị liên kết phân trang
        var startPage = Math.max(0, currentPage - 2);
        var endPage = Math.min(totalPages - 1, currentPage + 2);

        // for (var i = startPage; i <= endPage; i++) {
        var pageLink = document.createElement('a');
        pageLink.href = '#';
        pageLink.id = 'curP';
        pageLink.textContent = currentPage + 1;
        paginationContainer.appendChild(pageLink);


        // Hiển thị nút chuyển đến trang tiếp theo
        var nextPageLink = document.createElement('a');
        nextPageLink.href = '#';
        nextPageLink.id = 'nextP';
        nextPageLink.textContent = ' Trang sau >';
        nextPageLink.onclick = function (event) {
            if (currentPage < totalPages - 1) {
                changePage(currentPage + 1,  event);
            }
        };
        paginationContainer.appendChild(nextPageLink);
    }
    //Chuyển trang
    function changePage(page, event) {
        currentPage = page;
        displayProducts(currentPage);
        var curP = document.getElementById('curP');
        curP.innerHTML = '';
        curP.textContent = currentPage + 1;
        event.preventDefault();
    }

    //Tính tổng thời gian đi
    function calculateTimeDifference(startTimeString, endTimeString) {
        // Chuyển đổi chuỗi thời gian thành số giây
        function timeStringToSeconds(timeString) {
            const [hours, minutes, seconds] = timeString.split(':').map(Number);
            return hours * 3600 + minutes * 60 + seconds;
        }

        // Lấy số giây từ chuỗi thời gian
        const startTimeInSeconds = timeStringToSeconds(startTimeString);
        const endTimeInSeconds = timeStringToSeconds(endTimeString);

        // Tính chênh lệch thời gian trong giây
        const timeDifferenceInSeconds = endTimeInSeconds - startTimeInSeconds;

        // Chuyển đổi chênh lệch thời gian thành giờ, phút, giây
        const hours = Math.floor(timeDifferenceInSeconds / 3600);
        const minutes = Math.floor((timeDifferenceInSeconds % 3600) / 60);
        const seconds = Math.floor(timeDifferenceInSeconds % 60);

        // Định dạng chuỗi kết quả
        const resultString = `${hours} Giờ ${minutes} phút`;

        return resultString;
    }
</script>


<!--    Ẩn hiện thông báo bằng hover-->
<script>
    // Hàm để hiển thị thẻ chứa noticeList
    function showNoticeList(id) {
        var noticeList = document.getElementById('noticeList' + id);
        if (noticeList.style.display == 'block') {
            noticeList.style.display = 'none';
        }
        else {
            noticeList.style.display = 'block';
        }

    }

    // Hàm để ẩn thẻ chứa noticeList
    function hideNoticeList(id) {
        document.getElementById('noticeList' + id).style.display = 'none';
    }
</script>

<!--Xử lý ẩn thông tin chi tiết của tất cả sản phẩm và hiện khi ấn vào-->
<script>
    // Hàm JavaScript để hiển thị thông tin chi tiết của sản phẩm khi click
    function showProductDetail(productId) {
        // Ẩn tất cả các chi tiết sản phẩm
        // hideAllProductDetails();

        // Hiển thị chi tiết của sản phẩm được click
        const productDetailDiv = document.getElementById('productDetail' + productId);
        if (productDetailDiv.style.display === 'none' || productDetailDiv.style.display === '') {
            productDetailDiv.style.display = 'block';
        }
        else {
            productDetailDiv.style.display = 'none';
        }

        const arrow_icon = document.getElementById('arrow-icon'+ productId);
        //xoay mũi tên
        if (arrow_icon.style.transform === 'rotate(0deg)') {
            arrow_icon.style.transform = 'rotate(180deg)';
        }
        else {
            arrow_icon.style.transform = 'rotate(0deg)';
        }
    }


    // Hàm JavaScript để ẩn tất cả các chi tiết sản phẩm
    function hideAllProductDetails() {
        const productDetails = document.querySelectorAll('[id^="productDetail"]');
        productDetails.forEach(function (detail) {
            detail.style.display = 'none';
        });


    }
</script>

<!--Chuyển đổi giữa các tab menu chi tiet-->
<script>
    function showPartDetail(productId, typeDetail) {
        const partDetails = document.querySelectorAll('.part-detail'+ productId);
        partDetails.forEach(function (partDetail) {
            partDetail.style.display = 'none';
        });

        const menuDetails = document.querySelectorAll('.menu-detail'+ productId);
        menuDetails.forEach(function (menuDetail) {
            menuDetail.style.color = 'black';
        });

        if (typeDetail === 1) {
            const detailImgElement = document.getElementById('detai-img' + productId);
            const menuImgElement = document.getElementById('detail-img-b' + productId);
            //displayAndChangeColor(detailImgElement, menuImgElement);
            menuImgElement.style.color = '#2474E5';
            detailImgElement.style.display = 'flex';
        }
        else if (typeDetail === 2) {
            const detailTienIchElement = document.getElementById('tien-ich' + productId);
            const menuTienIchElement = document.getElementById('tien-ich-b' + productId);
            displayAndChangeColor(detailTienIchElement, menuTienIchElement);
        }
        else if (typeDetail === 3) {
            const detailDiemDonTraElement = document.getElementById('diem-don-tra' + productId);
            const menuDiemDonTraElement = document.getElementById('diem-don-tra-b' + productId);
            displayAndChangeColor(detailDiemDonTraElement, menuDiemDonTraElement);
        }
        else if (typeDetail === 4) {
            const detailChinhSachElement = document.getElementById('chinh-sach' + productId);
            const menuChinhSachElement = document.getElementById('chinh-sach-b' + productId);
            displayAndChangeColor(detailChinhSachElement, menuChinhSachElement);
        }
        else if (typeDetail === 5) {
            const detailReviewElement = document.getElementById('review' + productId);
            const menuReviewElement = document.getElementById('review-b' + productId);
            displayAndChangeColor(detailReviewElement, menuReviewElement);
        }
    }

    function displayAndChangeColor(detail, menu) {
        menu.style.color = '#2474E5';
        detail.style.display = 'block';
    }

</script>

<!--Ẩn/hiện order form-->
<script>
    function showOrderForm(productId) {
        hideAllOrderForm();
        const clickedForm = document.getElementById('frmDatVe' + productId);
        clickedForm.style.display = 'block';
    }

    function hideAllOrderForm() {
        const orderForms = document.querySelectorAll('.frmDatVe-modal');
        orderForms.forEach(function (orderForm) {
            orderForm.style.display = 'none';
        });
    }

    function dismissForm(productId) {
        // Get the form element
        var formDatVe = document.getElementById('frmDatVe' + productId);
        // Change the display property of the form to none
        formDatVe.style.display = "none";
    }

</script>

<script>
    function displayValue(value) {
        return (value !== null && value !== undefined) ? value : 'null';
    }
    // Gọi API để lấy danh sách sản phẩm khi trang web được tải
    var notices = [];
    var xhe1 = new XMLHttpRequest();
    xhe1.open('GET', '/all-notice', true);
    xhe1.onreadystatechange = function () {
        if (xhe1.readyState == 4 && xhe1.status == 200) {
            notices = JSON.parse(xhe1.responseText);
            const allNotice = document.getElementById('all-notice');
            notices.forEach(function (notice) {
                var lastUpdate = moment(notice['lastUpdate']).format('HH:mm DD/MM/YYYY');
                const noticeDiv = document.createElement('div');
                noticeDiv.classList.add('notice-div');
                console.log(notice.noticeName);
                noticeDiv.innerHTML = `
          <h6 style="color: green">${notice.storeName}</h6>
          <h6 style="color: red">Thông báo: ${notice.title}</h6>
          <p>${notice.content}</p>
          <p>${notice.expired ? 'Hết hiệu lực' : 'Còn hiệu lực'}</p>
          <p>Sửa đổi lần cuối: ${lastUpdate}</p>
        `;

                allNotice.appendChild(noticeDiv);
            })
        }
    };
    xhe1.send();
</script>

<script>
    // Gọi API để lấy danh sách sản phẩm khi trang web được tải
    var storeNames = [];
    var xhr2 = new XMLHttpRequest();
    xhr2.open('GET', '/all-store-name', true);
    xhr2.onreadystatechange = function () {
        if (xhr2.readyState == 4 && xhr2.status == 200) {
            storeNames = JSON.parse(xhr2.responseText);
            const listNhaXe = document.getElementById('nha-xe');
            storeNames.forEach(function (storeName) {
                const p = document.createElement('p');
                p.innerText = storeName;
                p.classList = 'ten-nha-xe';
                listNhaXe.appendChild(p);
            });

        }
    };
    xhr2.send();
</script>

<!--<script th:inline="javascript">-->

<!--    var currentUser = /*[[${currentUser}]]*/ null;-->

<!--    console.log(currentUser.firstName + " " + currentUser.lastName);-->
<!--    value="${currentUser.phoneNumber ? currentUser.phoneNumber : ''}"-->
<!--</script>-->
<script src="./assets/js/header.js"></script>
</body>

</html>
