<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Register an Account</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" th:href="@{/}">Đăng ký tài khoản</a>
    </div>
  </div>
</nav>

<br>
<br>

<!-- Create HTML registration form -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!-- success message -->
      <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered to our awesome app!</div>
      </div>

      <h1>Đăng ký</h1>

      <form method="post" th:action="@{/api/v1/auth/signup}" th:object="${signUpRequest}">
        <div class="form-group">
          <label class="control-label" for="email"> Email </label>
          <input id="email" class="form-control" name="email"
                 placeholder="Nhập email" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <label class="control-label" for="password"> Mật khẩu </label> <input
                id="password" class="form-control" type="password"
                name="password" placeholder="Nhập mật khẩu" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <label class="control-label" for="firstName"> Họ </label>
          <input id="firstName" class="form-control" type="text" name="firstName" placeholder="Nhập họ" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <label class="control-label" for="lastName"> Tên </label>
          <input id="lastName" class="form-control" type="text" name="lastName" placeholder="Nhập tên, tên đệm" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <label class="control-label" for="phoneNumber"> Số điện thoại </label>
          <input id="phoneNumber" class="form-control" type="tel" name="phoneNumber" placeholder="Nhập số điện thoại" required autofocus="autofocus" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-success">Đăng ký</button>
          <span>Đã có tài khoản? <a href="/" th:href="@{/login}">Đăng nhập tại đây</a></span>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>