body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.header {
    display: flex;
    background-color: #2474E5;
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.header .left-menu {
    text-align: left;
    padding-left: 15px;
    width: 70px;
    height: 50px;
}
.header .left-menu a img{
    width: 70px;
    height: 50px;
    cursor: pointer;
}
.header .right-menu {
    list-style: none;
    text-align: right;
    display: flex;
    margin: 0 16px 0 0;
}

.header .right-menu .main-menu-a {
    text-decoration: none;
    padding: 14px  16px;
    color: #fff;  
    font-family: var(--font-chu);
    line-height: 50px;
    font-size: 20px;

}

.main-menu {
    position: relative;
}

.right-menu .main-menu-a:hover {
    background-color: #FFD333;
    color: #000;
}

.sub-main-menu {
    position: absolute;
    list-style: none;
    text-align: left;
    background-color: #FFD333;
    display: none;
    padding-left: 0;
    top: 50px;
    right: 0;
    width: 150px;
}

.main-menu li:hover {
    background-color: #04AA6D;
}
.main-menu:hover .sub-main-menu{  
    display: block;    
}

.sub-main-menu li {
    padding: 5px 10px;
}
.sub-main-menu a {
    text-decoration: none;
    color: #000;

}
.sub-main-menu li {
    cursor: pointer;
}


/* ------------------------------------- end header---------------------------------------------- */