<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vikcorp</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
    <h1>Start my Kingdom</h1>
    <input type="text" id="searchInput" placeholder="Tìm kiếm ...">
    <a sec:isAuthenticated() th:href="@{/logout}" class="login-tag">Logout</a>
    Wellcome <span sec:authentication="principal.username"></span>

    <div th:text="${#authentication.getPrincipal().lastName}">
        Xin chào
    </div>

    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <!-- Hiển thị nội dung cho người dùng có vai trò ROLE_ADMIN -->
        <p>User has ROLE_ADMIN</p>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ROLE_SELLER'')')}">
        <!-- Hiển thị nội dung cho người dùng có vai trò ROLE_ADMIN -->
        <p>User has ROLE_SELLER</p>
    </div>

    <div th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <!-- Hiển thị nội dung cho người dùng có vai trò ROLE_USER -->
        <p>User has ROLE_USER</p>
    </div>

    <a th:href="@{/management}">Quản lý sản phẩm</a>
    <a th:href="@{/main}">Trang chủ</a>

    <table id="userTable">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
      <!-- Thẻ <tr> và <td> sẽ được tạo bằng cách sử dụng JavaScript -->
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const token = getCookie("Authorization");
            console.log(token);
            if (token) {
                // Gửi token trong tiêu đề "Authorization" cho mọi yêu cầu
                let axios;

                axios.defaults.headers.common["Authorization"] = "Bearer " + token;
            }
            console.log(8);
        });

        function getCookie(name) {
            const value = "; " + document.cookie;
            const parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }
    </script>
    <script>
      // Sử dụng JavaScript để gọi API từ Spring Boot và tạo bảng
      fetch('/api/v1/admin/all-users').then(response => response.json()).then(users => {
                const table = document.querySelector('table');
                users.forEach(user => {
                    const row = table.insertRow();
                  row.insertCell().textContent = user['userID'];
                  row.insertCell().textContent = user['firstName'];
                  row.insertCell().textContent = user['lastName'];
                  row.insertCell().textContent = user['email'];
                });
              })
              .catch(error => console.error('Error fetching users:', error));
    </script>
</body>
</html>