<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm sản phẩm</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            font-family: sans-serif;
        }

        .container {
            /* width: 500px;
            margin: 0 auto; */
        }

        .form-control {
            /* width: 100%; */
        }

        .form-label {
            font-weight: bold;
        }

        .mb-3 {
            margin-bottom: 1rem;
        }

        .btn {
            background-color: #000000;
            color: #ffffff;
        }


        .btn-primary {
            background-color: #0080ff;
        }
        .stop-at {
            display: flex;
        }
        .addPform {
            margin-left: 20px;
        }
    </style>
</head>
<body>

<div class="" id="productUpdateForm">
    <h1 style="text-align: center" class="m-2">Cập nhật thông tin vé xe</h1>

<!--    Thêm form tại đây...-->

</div>

</body>




<script th:inline="javascript">
    let stopCount = 0;
    const productListDiv = document.getElementById('productUpdateForm');
    const currentUrl = window.location.href;

    // Sử dụng biểu thức chính quy để trích xuất giá trị PathVariable
    const productIdMatch = currentUrl.match(/\/management\/(\d+)\/update-product/);

    // Lấy giá trị PathVariable từ kết quả trích xuất
    const productId = productIdMatch[1];

    const xhr = new XMLHttpRequest();
    xhr.open('GET', '/api/v1/seller/my-store/' + productId, true);

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                const product = JSON.parse(xhr.responseText);
                const productDiv = document.createElement('div');
                productDiv.innerHTML = `
<form action="/management/my-store/${product.productID}/update-product" method="post" class="row addform" object="productDTO">

    <div class="row" style="padding-left: 60px;">
        <div class="col-lg-6">
             <div class="row">
                 <div class="col-lg-6">
            <!--        Tên sản phẩm-->
                    <div class="mb-3">
                        <label for="productName" class="form-label">Tên vé</label>
                        <input type="text" class="form-control" id="productName" name="productName"
                            placeholder="Nhập tên sản phẩm" value="${product.productName}"
                            required
                        >
                    </div>

            <!--        Ảnh sản phẩm-->
                    <div class="mb-3">
                        <label for="productImage" class="form-label">URL hình ảnh sản phẩm</label>
                        <input type="text" class="form-control" id="productImage" name="productImage"
                            placeholder="Nhập URL hình ảnh sản phẩm" value="${product.productImage}"
                        >
                    </div>

            <!--        Chỗ trống-->
                    <div class="mb-3">
                        <label for="remainSeat" class="form-label">Số lượng chỗ còn lại</label>
                        <input type="number" class="form-control" id="remainSeat" name="remainSeat"
                            placeholder="Nhập số lượng chỗ còn lại" value="${product.remainSeat}"
                        >
                    </div>

            <!--        Giá vé-->
                    <div class="mb-3">
                        <label for="price" class="form-label">Giá vé</label>
                        <input type="number" class="form-control" id="price" name="price"
                            placeholder="Nhập giá" value="${product.price}"
                        >
                    </div>

            <!--        Biển số xe     -->
                    <div class="mb-3">
                        <label for="bienSoXe" class="form-label">Biển số xe</label>
                        <input type="text" class="form-control" id="bienSoXe" name="bienSoXe"
                            placeholder="Nhập biển số xe" value="${product.bienSoXe}"
                        >
                    </div>
                    <!-- Loại xe-->
                    <div class="mb-3">
                      <label for="type" class="form-label">Loại xe</label>
                      <input type="text" class="form-control" id="type" name="type" placeholder="Nhập loại xe" value="${product.type}" required>
                    </div>

                </div>

                 <div class="col-lg-6 " style="padding-left: 30px;">
            <!--    Số điện thoại 1-->
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Số điện thoại 1</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                            placeholder="Nhập số điện thoại 1" value="${product.phoneNumber}"
                        >
                    </div>

            <!--    Số điện thoại 2-->
                    <div class="mb-3">
                        <label for="phoneNumber2" class="form-label">Số điện thoại 2</label>
                        <input type="text" class="form-control" id="phoneNumber2" name="phoneNumber2"
                            placeholder="Nhập số điện thoại 2" value="${product.phoneNumber2}"
                        >
                    </div>
            <!--    Giờ xuất phát-->
                    <div class="mb-3">
                        <label for="startTime" class="form-label">Thời gian xuất phát</label>
                        <input type="time" class="form-control" id="startTime" name="startTime"
                            placeholder="Nhập thời gian bắt đầu" value="${product.startTime}"
                            required
                        >
                    </div>

            <!--    Giờ đến dự tính-->
                    <div class="mb-3">
                        <label for="endTime" class="form-label">Thời gian đến dự kiến</label>
                        <input type="time" class="form-control" id="endTime" name="endTime"
                            placeholder="Nhập thời gian đến dự kiến" value="${product.endTime}"
                        >
                    </div>

            <!--    Địa chỉ xuất phát-->
                    <div class="mb-3">
                        <label for="startAddress" class="form-label">Địa chỉ xuất phát</label>
                        <input type="text" class="form-control" id="startAddress" name="startAddress"
                            placeholder="Nhập địa chỉ bắt đầu" value="${product.startAddress}"
                        >
                    </div>

            <!--    Địa chỉ điểm đến cuối-->
                    <div class="mb-3">
                        <label for="endAddress" class="form-label">Địa chỉ điểm đến cuối</label>
                        <input type="text" class="form-control" id="endAddress" name="endAddress"
                            placeholder="Nhập địa đích đến" value="${product.endAddress}"
                        >
                    </div>
                </div>
             </div>

             <div class="row" >

                  <div class="col-lg-12">
                    <div class="mb-3">
                        <h4 class="m-2">Các điểm dừng</h4>
                        <div id="stopList">
                          <div class="d-flex">
                            <h5 class="m-2" style="width: 70%; font-weight: bold">Địa chỉ</h5>
                            <h5 style="font-weight: bold; margin: 8px 8px 8px 0">Thời gian</h5>
                          </div>

                        </div>
                        <input type="button" class="btn btn-primary m-2" id="addStop" value="Thêm địa chỉ dừng chân">
                    </div>
                   </div>
        </div>
        </div>

        <div class="col-lg-6">
                    <!-- Mô tả sản phẩm-->
                    <div class="mb-3">
                        <label for="description" class="form-label">Mô tả chuyến xe</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                            placeholder="Nhập mô tả"
                        >${product.description}</textarea>
                    </div>
                    <!--Chính sách nhà xe-->
                    <div class="mb-3">
                        <label for="policy" class="form-label">Chính sách</label>
                        <textarea class="form-control" id="policy" name="policy" rows="3" placeholder="Nhập chính sách">
                            ${product.policy}
                        </textarea>
                    </div>
                    <!--Tiện ích của xe-->
                    <div class="mb-3">
                        <label for="tien-ich" class="form-label">Tiện ích</label>
                        <textarea class="form-control" id="tien-ich" name="tienIch" rows="3" placeholder="Nhập tiện ích">
                            ${product.tienIch}
                        </textarea>
                    </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
`;
                productListDiv.appendChild(productDiv);
                const stopListDiv = document.getElementById('stopList');
                if (product.stopList && product.stopList.length > 0) {
                    product.stopList.forEach(function (stop) {
                        // Tạo một div mới cho điểm dừng
                        const newStopDiv = document.createElement('div');
                        newStopDiv.classList.add('stop-at');
                        newStopDiv.id = 'stop-at' + stopCount;
                        newStopDiv.innerHTML = `

                    <input type="hidden" class="form-control m-2" placeholder="Nhập stopId"
                        name="stopList[${stopCount}].stopID" value="${stop.stopID}"
                    >
                    <input type="text" class="form-control m-2" placeholder="Nhập địa chỉ"
                        name="stopList[${stopCount}].stopAddress" value="${stop.stopAddress}"
                        required
                    >
                    <input type="time" class="form-control m-2 w-25"
                        name="stopList[${stopCount}].stopTime" value="${stop.stopTime}"
                        required
                    >
                    <input type="hidden" class="form-control m-2"
                        name="stopList[${stopCount}].deleted"
                        value="${stop.deleted}" id="deleted${stopCount}"
                    >
                    <button type="button" class="btn btn-danger m-2"
                        onclick="removeStop(${stopCount})"
                    >Xóa</button>

                        `;

                        stopCount++;
                        stopListDiv.appendChild(newStopDiv);
                    })
                }
                document.getElementById('addStop').addEventListener('click', function () {
                    // Tạo một div mới cho điểm dừng
                    const newStopDiv = document.createElement('div');
                    newStopDiv.classList.add('stop-at');

                    //Tạo input cho stopId (hidden input)
                    const stopIdInput = document.createElement('input');
                    stopIdInput.type = 'hidden';
                    stopIdInput.classList.add('form-control', 'm-2');
                    stopIdInput.placeholder = 'Nhập stopId';
                    stopIdInput.name = 'stopList[' + stopCount + '].stopID';
                    stopIdInput.value = '-1';

                    // Tạo input cho địa chỉ
                    const addressInput = document.createElement('input');
                    addressInput.type = 'text';
                    addressInput.classList.add('form-control', 'm-2');
                    addressInput.placeholder = 'Nhập địa chỉ';
                    addressInput.name = 'stopList[' + stopCount + '].stopAddress';
                    addressInput.required = true;

                    // Tạo input cho thời gian
                    const timeInput = document.createElement('input');
                    timeInput.type = 'time';
                    timeInput.classList.add('form-control', 'm-2', 'w-25');
                    timeInput.placeholder = 'Nhập thời gian';
                    timeInput.name = 'stopList[' + stopCount + '].stopTime';
                    timeInput.required = true;

                    // Tạo input để xóa
                    const deletedInput = document.createElement('input');
                    deletedInput.type = 'hidden';
                    deletedInput.classList.add('form-control', 'm-2');
                    deletedInput.name = 'stopList[' + stopCount + '].deleted';
                    deletedInput.value = 'false';
                    deletedInput.id = 'deleted'+ stopCount;

                    // Tạo nút xóa
                    const deleteButton = document.createElement('button');
                    deleteButton.type = 'button';
                    deleteButton.classList.add('btn', 'btn-danger', 'm-2');
                    deleteButton.textContent = 'Xóa';
                    // deleteButton.addEventListener('click', function() {
                    //     removeStop(stopCount);
                    // });

                    deleteButton.addEventListener('click', function () {
                        // Xóa điểm dừng khi nút xóa được nhấp
                        deletedInput.value = 'true';
                        newStopDiv.style.display = 'none';
                    });

                    // Thêm input và nút xóa vào div mới
                    newStopDiv.appendChild(stopIdInput);
                    newStopDiv.appendChild(addressInput);
                    newStopDiv.appendChild(timeInput);
                    newStopDiv.appendChild(deletedInput);
                    newStopDiv.appendChild(deleteButton);

                    // Thêm div mới vào #stopList
                    document.getElementById('stopList').appendChild(newStopDiv);

                    // Tăng số đếm
                    stopCount++;
                });


            } else {
                // Xử lý lỗi khi nhận được một phản hồi không phải 200 OK
            }
        }
    };
    xhr.send();

    function removeStop(num) {
        const stop = document.getElementById('stop-at' + num);
        const deleted = document.getElementById('deleted' + num);
        deleted.value = 'true';
        stop.style.display = 'none';
    }
</script>
<script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
<script>
    // Remove a plugin from the default setup.
    ClassicEditor.create( document.querySelector( '#description' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        language: 'vi'
        } )
        .catch( error => {
            console.log( error );
        } );

    ClassicEditor.create( document.querySelector( '#policy' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        language: 'vi'
    } )
        .catch( error => {
            console.log( error );
        } );

    ClassicEditor.create( document.querySelector( '#tien-ich' ), {
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        language: 'vi'
    } )
        .catch( error => {
            console.log( error );
        } );

</script>


</html>