<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/update.css">
    <title>Update product</title>
</head>
<body>
    <div class="ve-xe">
        <a href="./management.html"><img id="anh-xe" src="./img/Picture1.png" alt="Anh xe"></a>
        <div class="info-ve">
            <div class="info-ve-p1">
                <div class="ten-nha-xe-rate">
                    <input type="text" placeholder="Nhập tên nhà xe">
                    <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                    <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                    <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                    <i class="fa-solid fa-star" style="color: #ffd500;"></i>
                    <i class="fa-solid fa-star" style="color: #ffd500;"></i>                      
                </div>
                <input type="number" placeholder="Nhập giá vé" step="10000">
            </div>
            <input type="text" placeholder="Nhập tên loại xe">
            <div class="info-ve-p2">
                <div class="info-ve-p2-1">
                    <div class="info-p2-1-1">
                        <img class="start-icon" src="./img/clock-regular.svg" alt="">                                   
                        <input type="time" name="" >
                        <input type="text" placeholder="Nhập điểm xuất phát">
                    </div>
                    
                    <div class="info-p2-1-1">
                        <img class="dot-dot" src="./img/dot.png" alt="">
                        <input type="time">
                        <input type="text" placeholder="Nhập tổng thời gian đi">
                    </div>
                    <div class="info-p2-1-1">
                        <img class="start-icon" src="./img/location.png" alt="">
                        <input type="time" name="" id="">
                        <input type="text" placeholder="Nhập điểm kết thúc">                                 
                    </div>

                </div>
            </div>
        </div>
        <input type=""  placeholder="Nhập kiểu thanh toán">



        <div class="detail" id="detail">
            <div class="detail-info">
                <ul class="list-info">
                    <li ><button class="menu-detail detail-img-b" id="detail-img-b"> Hình ảnh</button></li> 
                    <li ><button class="menu-detail tien-ich-b" id="tien-ich-b">Tiện ích </button></li> 
                    <li ><button class="menu-detail diem-don-tra-b" id="diem-don-tra-b"> Điểm đón trả</button></li> 
                    <li ><button class="menu-detail chinh-sach-b" id="chinh-sach-b"> Chính sách</button></li> 
                </ul>

            </div>
            
            <div class="five-info" id="five-info">
                <div class="detai-img" id="detai-img">
                    <img class="main-detail-img" src="./img/Picture1.png" alt="">
                    <div class="sub-img">
                        <img src="./img/Picture1.png" alt="">
                        <img src="./img/Picture1.png" alt="">
                        <img src="./img/Picture1.png" alt="">
                    </div>
                </div>

                <div class="diem-don-tra" id="diem-don-tra">
                    <div class="luu-y">
                        <h3>Lưu ý</h3>
                        <textarea id="productDescription" name="productDescription" rows="3" cols="78"></textarea>
                    
                    </div>

                    <div class="diem-don">
                        <h3>Điểm đón</h3>
                        <input type="time">
                        <input type="text" placeholder="Nhập điểm đón">
                        <input type="time">
                        <input type="text" placeholder="Nhập điểm đón">
                        <input type="time">
                        <input type="text" placeholder="Nhập điểm đón">
                    </div>
                    <div class="diem-tra"> 
                        <h3>Điểm trả</h3>
                        <input type="time">
                        <input type="text" placeholder="Nhập điểm trả">
                        <input type="time">
                        <input type="text" placeholder="Nhập điểm trả">
                        <input type="time">
                        <input type="text" placeholder="Nhập điểm trả">
                    </div>
                </div>

                <div class="tien-ich" id="tien-ich">
                    <ul class="list-tien-ich">
                        Các tiện ích
                        <textarea rows="3" cols="70"></textarea>
                    </ul>
                </div>

                <div class="chinh-sach" id="chinh-sach">
                    <h3>Chính sách nhà xe</h3>
                    <ul>
                        <li>
                            <h4>Yêu cầu khi lên xe</h4>
                            <ul>
                                <textarea rows="3" cols="60"></textarea>
                            </ul>
                        </li>
                        <li>
                            <h4>Hành lý sách tay</h4>
                            <ul>
                                <textarea rows="3" cols="60"></textarea>                 
                            </ul>
                        </li>
                        <li>
                            <h4>Trẻ em và phụ nữ có thai</h4>
                            <ul>
                                <textarea rows="3" cols="60"></textarea>
                            </ul>
                        </li>
                        <li>
                            <h4>Động vật cảnh/thú cưng</h4>
                            <ul>
                                <textarea rows="3" cols="60"></textarea>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <script th:src="../static/js/main.js"></script>
</body>
</html>